<section class="about-us">
    <div>
        <div class="about-us-img"></div>
    </div>
    <div class="about-us-content">
        <h3 class="about-us-heading">2085. ПИВО З МАЙБУТНЬОГО</h3>
        <p class="about-us-text">2085 це пиво з майбутнього. Ідеться не лише про 2085 рік — ми говоримо про наш футуристичний погляд на світ у цілому й пиво зокрема. Навіть 2085 року ми варитимемо пиво з майбутнього.</p>
        <h3 class="about-us-heading">КЛАСИКА 2085</h3>
        <p class="about-us-text">Крафт 2085 — сміливе й смачне пиво.</p>
        <p class="about-us-text">Смачне, бо зварив його кращий бровар. Сміливе, бо не боїться експериментів.</p>
        <p class="about-us-text">Ми маємо власний завод, досвід і жваву фантазію. Ми варимо класичні та експериментальні сорти. 2085 року наші експерименти стануть класикою.</p>
        <h3 class="about-us-heading">ОБЛАДНАННЯ</h3>
        <p class="about-us-text">Ми першими в Україні почали варити крафт на обладнанні American Beer Equipment.</p>
        <h3 class="about-us-heading">ПРОСТІР</h3>
        <p class="about-us-text">Пивзавод 2085 розміщено на території артзаводу «Платформа». Тут же найсвіжіша варка. Щодня для вас відкрито 16 кранів.</p>
        <h3 class="about-us-heading">КОМАНДА</h3>
        <p class="about-us-text">Назар Дребот. Душа проекту. 7 років йшов до створення пивоварні масштабу 2085. За цей час отримав 6 міжнародних пивних нагород і запустив 7 крафтових пивоварень (в США, Грузії, Іспанії, Індії та Україні).</p>
        <p class="about-us-text">Валерій Созановський. Ідейний натхненник і рушій проєкту. Ресторатор, підприємець, співзасновник сім’ї ресторанів THE.</p>
        <p class="about-us-text">Володимир Володарський. Бізнесмен, співзасновник сім’ї ресторанів THE.</p>
        <p class="about-us-text">Fedoriv agency. Дизайн продукту, комунікація.</p>
        <p class="about-us-text">Balbek Bureau. Дизайн інтер'єру.</p>
        <p class="about-us-text">Ми не знаємо, яким буде світ 2085 року, але знаємо, яке пиво питимуть 2085 року.</p>
        <p class="about-us-text _bold">2085 pack / Order now</p>
    </div>
</section>