<nav class="nav">
    <div class="navbar">
        <a href="#" class="navbar-lang navbar-link">EN</a>
        <a href="./" class="navbar-logo">2085</a>
        <a href="./order-personal.html" class="navbar-cart navbar-link">
            <span class="navbar-cart-text">купити</span>
            <span class="navbar-cart-number">14</span>
        </a>
        @@include('../components/shop-basket.html')
    </div>
    <div class="nav-ticker">
        <div class="nav-ticker-content">
            <a href="#" class="nav-ticker-link">INSTAGRAM</a>
            <a href="#" class="nav-ticker-link">TELEGRAM</a>
            <a href="#" class="nav-ticker-link">TEL: +38 099 222 33 44</a>
            <a href="#" class="nav-ticker-link">INSTAGRAM</a>
            <a href="#" class="nav-ticker-link">TELEGRAM</a>
            <a href="#" class="nav-ticker-link">TEL: +38 099 222 33 44</a>
        </div>
    </div>
</nav>