<section class="order">
    <div class="order-form">
        <div class="order-form-tabs-item">
            <span class="order-form-tabs-item-num">1</span>
            <span>особисті дані</span>
        </div>
        <div class="order-form-tabs-item selected">
            <span class="order-form-tabs-item-num">2</span>
            <span>контактні дані</span>
        </div>
        <div class="order-form-item">
            <label for="" class="order-form-label">місто</label>
            <input type="text" class="order-form-input">
        </div>
        <div class="order-form-item">
            <label for="" class="order-form-label">відділення</label>
            <select class="order-form-input">
                <option value="" selected disabled>Обрати</option>
            </select>
        </div>
        <div class="order-form-item">
            <label for="" class="order-form-label">варіант доставки</label>
            <select class="order-form-input">
                <option value="" selected>Нова Пошта</option>
            </select>
        </div>
        <div class="order-form-item">
            <label for="" class="order-form-label">варіант оплати</label>
            <select class="order-form-input">
                <option value="Готівка" selected>Готівка</option>
                <option value="Карта">Карта</option>
            </select>
        </div>
        <div></div>
        <a href="#" class="order-form-btn">замовити</a>
    </div>
    <div class="order-list">
        <div class="order-list-item">
            <div class="order-list-item-photo">
                <img class="order-list-item-photo-img" src="../img/beer/2085-1.png" alt="shop-basket-item-img">
            </div>
            <div class="order-list-item-content">
                <p class="order-list-item-name">2085-3 Hoppy Mexican Lager</p>
                <p class="order-list-item-price">
                    <span>49</span>
                    <span>uah</span>
                </p>
                <div class="order-list-item-counter">
                    <span class="order-list-item-counter-btn"></span>
                    <span class="order-list-item-counter-num">1</span>
                    <span class="order-list-item-counter-btn _plus"></span>
                </div>
                <div class="order-list-item-delete"></div>
            </div>
        </div>
        <div class="order-list-sum">
            <span>Загальна сума:</span>
            <span class="order-list-sum-number">
                <span>49</span>
                <span>uah</span>
            </span>
        </div>
    </div>
</section>