<section class="order">
    <div class="order-form">
        <!-- <div class="order-form-tabs"> -->
            <div class="order-form-tabs-item selected">
                <span class="order-form-tabs-item-num">1</span>
                <span>особисті дані</span>
            </div>
            <div class="order-form-tabs-item">
                <span class="order-form-tabs-item-num">2</span>
                <span>контактні дані</span>
            </div>
        <!-- </div> -->
        <!-- <div class="order-form-content"> -->
            <div class="order-form-item">
                <label for="" class="order-form-label">ім'я</label>
                <input type="text" class="order-form-input">
            </div>
            <div class="order-form-item">
                <label for="" class="order-form-label">прізвище</label>
                <input type="text" class="order-form-input">
            </div>
            <div class="order-form-item">
                <label for="" class="order-form-label">телефон</label>
                <input type="text" class="order-form-input">
            </div>
            <div class="order-form-item">
                <label for="" class="order-form-label">e-mail</label>
                <input type="text" class="order-form-input">
            </div>
            <div></div>
            <a href="./order-contacts.html" class="order-form-btn">далі</a>
        <!-- </div> -->
    </div>
    <div class="order-list">список товаров</div>
</section>