<section class="products">
    @@loop('../components/products-item.html', [
        {
            "name": "2085-1 BOHEMIAN PILSNER",
            "price": "54",
            "img": "../img/beer/2085-1.png"
        },
        {
            "name": "2085-2 WALLONIA WIT",
            "price": "64",
            "img": "../img/beer/2085-2.png"
        },
        {
            "name": "2085-3 HOPPY MEXICAN LAGER",
            "price": "52",
            "img": "../img/beer/2085-3.png"
        },
        {
            "name": "2085-4 DDH BELGIAN-STYLE BLOND ALE",
            "price": "69",
            "img": "../img/beer/2085-4.png"
        },
        {
            "name": "2085-5 FAKE BRETT IPA",
            "price": "99",
            "img": "../img/beer/2085-5.png"
        },
        {
            "name": "2085-6 IRISH-STYLE DRY STOUT",
            "price": "72",
            "img": "../img/beer/2085-6.png"
        },
        {
            "name": "2085-1 BOHEMIAN PILSNER",
            "price": "54",
            "img": "../img/beer/2085-1.png"
        },
        {
            "name": "2085-2 WALLONIA WIT",
            "price": "64",
            "img": "../img/beer/2085-2.png"
        },
        {
            "name": "2085-3 HOPPY MEXICAN LAGER",
            "price": "52",
            "img": "../img/beer/2085-3.png"
        },
        {
            "name": "2085-4 DDH BELGIAN-STYLE BLOND ALE",
            "price": "69",
            "img": "../img/beer/2085-4.png"
        }
    ])
</section>