<section class="product-info">
    <div>
        <div class="product-info-fixed">
            <img src="../img/beer/2085-1.png" alt="product-img" class="product-info-img">
        </div>
    </div>
    <div class="product-info-content">
        <h3 class="product-info-name">2085-1 BOHEMIAN PILSNER</h3>
        <p class="product-info-density">ABV 5.3 IBU 11</p>
        <p class="product-info-consist">Склад</p>
        <p class="product-info-consist">Вода, солод, хміль, цедра лайма, дріжджі.</p>
        <p class="product-info-descript">Надзвичайно легке й освіжне пиво. Тіло сухе й цитрусове. Ідеально втамовує спрагу літніми днями. Дуже приємне на смак. Хмелева гіркота помірна. В ароматі домінують нотки лайма.</p>
        <div class="product-info-purchase">
            <p class="product-info-price">
                <span>49</span>
                <span>uah</span>
            </p>
            <a href="#" class="product-info-btn">купити</a>
        </div>
    </div>
</section>