<div class="shop-basket">
    <div class="shop-basket-item">
        <div class="shop-basket-item-photo">
            <img class="shop-basket-item-photo-img" src="../img/beer/2085-1.png" alt="shop-basket-item-img">
        </div>
        <div class="shop-basket-item-content">
            <p class="shop-basket-item-name">2085-3 Hoppy Mexican Lager</p>
            <p class="shop-basket-item-price">
                <span>49</span>
                <span>uah</span>
            </p>
            <div class="shop-basket-item-counter">
                <span></span>
                <span>1</span>
                <span></span>
            </div>
            <div class="shop-basket-item-delete"></div>
        </div>
    </div>
    <div class="shop-basket-sum">
        <span>Загальна сума:</span>
        <span class="shop-basket-sum-number">
            <span>49</span>
            <span>uah</span>
        </span>
    </div>
    <a href="#" class="shop-basket-btn">оформити замовлення</a>
</div>